<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Editar Cliente</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="div-editcli">
    <h1>Editar Cliente</h1>
    <form action="/clientes/editar/<%= cliente.clicod %>" method="post">
      <label for="clinome">Nome</label>
      <input type="text" id="clinome" name="clinome" value="<%= cliente.clinome %>" required>
      
      <label for="clicelular">Celular</label>
      <input type="text" id="clicelular" name="clicelular" value="<%= cliente.clicelular %>" required>
      
      <label for="cliemail">Email</label>
      <input type="email" id="cliemail" name="cliemail" value="<%= cliente.cliemail %>">

      <label for="clidatanasc">Data de Nascimento</label>
      <input type="date" id="clidatanasc" name="clidatanasc" value="<%= cliente.clidatanasc ? new Date(cliente.clidatanasc).toISOString().substring(0, 10) : '' %>">

      <label for="clicep">CEP</label>
      <input type="text" id="clicep" name="clicep" size="10" maxlength="9" required
      onblur="pesquisacep(this.value);" value="<%= cliente.clicep %>">

      <label for="clirua">Rua</label>
      <input type="text" id="clirua" name="clirua" value="<%= cliente.clirua %>"> <!-- Preenche com o endereço do cliente -->

      <label for="clinumero">Número</label>
      <input type="number" id="clinumero" name="clinumero" value="<%= cliente.clinumero %>">

      <label for="clibairro">Bairro</label>
      <input type="text" id="clibairro" name="clibairro" value="<%= cliente.clibairro %>"> <!-- Preenche com o bairro do cliente -->

      <label for="clicomplemento">Complemento</label>
      <input type="text" id="clicomplemento" name="clicomplemento" value="<%= cliente.clicomplemento %>">

      <button type="submit">Cadastrar</button>
    </form>

    <script>
      function limpa_formulário_cep() {
        document.getElementById('clirua').value = "";
        document.getElementById('clibairro').value = "";
      }

      function meu_callback(conteudo) {
        if (!("erro" in conteudo)) {
          document.getElementById('clirua').value = (conteudo.logradouro);
          document.getElementById('clibairro').value = (conteudo.bairro);
        } else {
          limpa_formulário_cep();
          alert("CEP não encontrado.");
        }
      }

      function pesquisacep(valor) {
        var cep = valor.replace(/\D/g, '');

        if (cep != "") {
          var validacep = /^[0-9]{8}$/;

          if (validacep.test(cep)) {
            document.getElementById('clirua').value = "...";
            document.getElementById('clibairro').value = "...";

            var script = document.createElement('script');
            script.src = 'https://viacep.com.br/ws/' + cep + '/json/?callback=meu_callback';
            document.body.appendChild(script);

          } else {
            limpa_formulário_cep();
            alert("Formato de CEP inválido.");
          }
        } else {
          limpa_formulário_cep();
        }
      }
    </script>
  </div>
</body>
</html>
